body {
	background-color: coral;
	font-family: Rubik, sans-serif;
}

#maintitle {
	align: center;
}

.flexContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: rgba(255, 191, 168, 0.4);
	width: 30%;
	height: 20em;
	margin: auto;
	border-radius: 1em;
}

#timer {
	font-size: 5em;
	width: 100%;
	text-align: center;
}

button {
	background-color:#89CFF0;
	/*border: 0.1em solid green;*/
	border: none;
	padding: 1em 3em;
	margin:-2em 1em 2em;
	border-radius: 1em;
}

.settingsTab {
	visibility: hidden;
	opacity: 0;
	background-color: rgba(192, 192, 192, 1);
	width: 20%;
	height: 25em;
	margin: auto;
	position: relative;
	bottom: 20em;
	border-radius: 1em;
	transition: opacity 0.5s; /*simulate pop-up animation without JS*/
}