<header>
    <h1 id="maintitle">Arancia</h1>
    <img id="logo" src="/images/orange-64.png" alt="orange fruit logo">
    <form action="/logout?_method=DELETE" method="POST">
        <button id="logOutButton" type="submit">Log Out</button>
    </form>
    <button class="settingsButton" onclick="openSettings()">Settings</button>
</header>
<br>
<div class="containerDiv">
    <iframe id="youtubeFrame" src="https://www.youtube.com/embed/5qap5aO4i9A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="flexContainer">
        <p id="timer"></p>
        <button onclick="workTimer()" id="startButton" type="button">Start</button>
        <button onclick="stopTimer()" type="button">Stop</button>
    </div>
    <!-- resize the task div if there are more than 7 tasks on page load -->
    <% if(tasks.length > 7) { %>
        <% var height = 320 + (tasks.length - 7) * 35; %>
        <% var style = "height:" + height + "px !important"; %>
        <div class="taskContainer" style="<%= style %>">
    <% } else {%>
        <div class="taskContainer">
    <% }  %>    
        <ul id="taskList">
            <% tasks.forEach(function(item, index){ %>
                <li id=<%= item.id %>> <%= item.name %> </li>
                <form class="deleteForm">
                    <input type="hidden" name="itemId" value=<%= item.id %>>
                    <button class="deleteButton"><i class="fa fa-times" style="font-size: 1.25em;"></i></button>
                </form>
            <% }) %>
        </ul>
        <form id="addTask">
            <input type="text" id="taskName" name="taskName" placeholder="Task Description" required>
            <button id="addTaskButton">Add Task</button>
        </form>
    </div>
</div>
<div class="settingsTab">
    <button onclick="closeSettings()" id="closeButton"><i class="fa fa-times" style="font-size: 1.7em; color: white"></i></button>
    <p id="timeSettingsText">Time Settings</p>
    <label for="workTimeInput">Work Time</label>
    <input id="workTimeInput" type="number" min="1" oninput="updateTime('workTimeInput')">
    <br><br>
    <label for="pauseTimeInput">Pause Time</label>
    <input id="pauseTimeInput" type="number" min="1" oninput="updateTime('pauseTimeInput')">
</div>