body {
	background-color: coral;
	font-family: 'Courier Prime', monospace;
}

header {
	position: relative;
	width: 30%;
	min-width: 30em;
	margin: auto;
	display: flex;
	align-items: center;
}

#logo {
	position: relative;
	left: 9em;
}

#maintitle {
	position: absolute;
	left: 0;
	color: white;
	margin-right: 0.2em;
	bottom: -10%;
}

#logOutButton {
	font-size: 1em;
	position: relative;
	right: 0;
	left: 19.5em;
	color: white;
	border: none;
	border-radius: 1em;
	background-color: rgba(255, 191, 168, 0.4);
	padding: 1em 1em;
}

.settingsButton {
	font-size: 1em;
	position: relative;
	right: 0;
	left: 7em;
	color: white;
	border: none;
	border-radius: 1em;
	background-color: rgba(255, 191, 168, 0.4);
	padding: 1em 1em;
}

#youtubeFrame {
	width: 30%;
	height: 20em;
	margin: 0.5em;
	min-width: 25em;
	border-radius: 1em;
}

.flexContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: rgba(255, 191, 168, 0.4);
	width: 30%;
	min-width: 25em;
	height: 20em;
	/* margin: auto; */
	border-radius: 1em;
	margin: 0.5em;
}

.taskContainer {
	/* display: flex;
	flex-direction: row; */
	/* float: right; */
	/*
	bottom: 20em; */
	position: relative;
	margin: 0.5em;
	background-color: rgba(255, 191, 168, 0.4);
	width: 30%;
	min-width: 25em;
	height: 20em;
	/* margin: auto; */
	border-radius: 1em;
}

.taskContainer input {
	text-indent: 0.5em;
	font-size: 1.1em;
	width: 65%;
	margin-left: 3%;
	position: absolute;
	bottom: 5%;
	border-radius: 0.5em;
	border: none;
	height: 1.95em;
}

.taskContainer input:focus {
	outline: none;
}

#addTaskButton {
	font-size: 1.1em;
	position: absolute;
	bottom: 5%;
	left: 72%;
	height: 1.95em;
	width: 25%;
	border: none;
	border-radius: 0.5em;
	background-color: #89cff0;
	color: white;
}

.taskContainer ul {
	list-style-type: none;
}

.taskContainer ul li {
	font-size: 1.2em;
	background-color: #89cff0;
	color: white;
	border-radius: 0.5em;
	padding: 0.25em;
	margin-left: -5%;
	width: 90%;
	display: inline-block;
	margin-bottom: 0.5em;
}

.taskContainer form {
	display: inline-block;
}

.taskContainer button {
	background-color: rgb(220, 220, 220);
	border-radius: 0.25em;
	border: none;
}

/* .taskContainer form {
	position: absolute;
	top: 18em;
} */

.containerDiv {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#timer {
	font-size: 7em;
	width: 100%;
	text-align: center;
	position: relative;
	bottom: 15%;
	color: white;
}

.flexContainer button {
	font-size: 1.1em;
	background-color: #89cff0;
	color: white;
	border: none;
	padding: 1em 3em;
	margin: -2em 1em 2em;
	border-radius: 1em;
	position: relative;
	bottom: 25%;
}

button {
	outline: none;
}

button:active {
	transform: translateY(4px);
}

.settingsTab {
	visibility: hidden;
	opacity: 0;
	background-color: rgb(220, 220, 220);
	width: 20%;
	min-width: 20em;
	height: 25em;
	margin: auto;
	position: relative;
	bottom: 20em;
	border-radius: 1em;
	transition: opacity 0.5s; /*simulate pop-up animation without JS*/
	padding: 1em;
}

.settingsTab input {
	width: 3em;
}

input {
	width: 2.1em;
}

#closeButton {
	width: 12%;
	height: 9%;
	margin-right: 100%;
	position: relative;
	left: 90%;
	top: 2%;
	background-color: #89cff0;
	border: none;
	border-radius: 0.5em;
}

#loginDiv {
	font-size: 1.2em;
	display: inline-block;
	background-color: rgba(255, 191, 168, 0.4);
	color: white;
	border-radius: 1em;
	position: relative;
	top: 5em;
	left: 35%;
	width: 30%;
	min-width: 25em;
	height: 20em;
	padding: 1em;
}

#loginDiv h1 {
	text-align: center;
	margin-bottom: 1em;
}

#loginDiv button {
	font-size: 1em;
	display: inline-block;
	background-color: #89cff0;
	color: white;
	border: none;
	padding: 0.5em 1em;
	/*margin:-2em 1em 2em;*/
	margin-left: 37%;
	bottom: 15%;
	border-radius: 0.5em;
	position: absolute;
	width: 25%;
	/*bottom: 25%;*/
}

#loginDiv input {
	font-size: 1em;
	text-indent: 0.2em;
	width: 99%;
	height: 2.2em;
	border-radius: 0.5em;
	border: none;
}

#loginDiv input:focus {
	outline: none;
}

#loginDiv label {
	display: block;
}

#loginDiv div {
	margin-top: 0.5em;
}

#loginDiv a {
	display: inline-block;
	margin-top: 3em;
}

#registerDiv {
	font-size: 1.2em;
	display: inline-block;
	background-color: rgba(255, 191, 168, 0.4);
	color: white;
	border-radius: 1em;
	position: relative;
	top: 5em;
	left: 35%;
	width: 30%;
	min-width: 25em;
	height: 23em;
	padding: 1em;
}

#registerDiv h1 {
	text-align: center;
	margin-bottom: 1em;
}

#registerDiv button {
	font-size: 1em;
	display: inline-block;
	background-color: #89cff0;
	color: white;
	border: none;
	padding: 0.5em 1em;
	/*margin:-2em 1em 2em;*/
	margin-left: 50%;
	border-radius: 0.5em;
	bottom: 10%;
	position: absolute;
	width: 30%;
	/*bottom: 25%;*/
}

#registerDiv input {
	font-size: 1em;
	text-indent: 0.2em;
	width: 99%;
	height: 2.2em;
	border-radius: 0.5em;
	border: none;
}

#registerDiv input:focus {
	outline: none;
}

#registerDiv label {
	display: block;
}

#registerDiv div {
	margin-top: 0.5em;
}

#registerDiv a {
	display: inline-block;
	margin-top: 3em;
}
